<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939594854325-fssuj41lcd0f5i9p0o6d3egroa4r7tgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939594854325-fssuj41lcd0f5i9p0o6d3egroa4r7tgl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>939594854325-77unkisdn78alnq68pmp5bu5l52t81hv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAuK4YdgHwjG7IomqaS81GkMdO7tnyjIOU</string>
	<key>GCM_SENDER_ID</key>
	<string>939594854325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soje.testlinking</string>
	<key>PROJECT_ID</key>
	<string>testlinking-d4f58</string>
	<key>STORAGE_BUCKET</key>
	<string>testlinking-d4f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939594854325:ios:be0a3b8f06eb42912df3fc</string>
</dict>
</plist>